/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7f7f7f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  transition: 100ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
